@import '../../styles/variables.scss';


.page {
 & {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 2000px;

  &:before {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: radial-gradient(circle at bottom, rgba(4, 43, 70, .3) 10%, #042b46 100%), url('./img/background.jpg');
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   content: '';
  }
 }
}
