.alert {
  margin: 2rem auto;
  max-width: 280px;
  text-align: center;
  background-color: #000;
  border: 2px solid #eb1875;
  border-radius: 4px;
  padding: 2rem;
}

.icon {
  width: 130px;
  margin-bottom: 1rem;
}

.headline, .text  {
  color: #eb1875;
  margin-top: 0.5rem;
  margin-bottom: .5rem;
}
