@import url('https://fonts.googleapis.com/css?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

:global {
 html {
  font-size: 16px;
 }

 body {
  & {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   padding-top: 1rem;
   padding-bottom: 3rem;
   min-height: 100vh;
   background-color: #042b46;
  }

  & p,
  & a,
  & li,
  & input,
  & textarea,
  & select {
   font-family: 'Dosis', sans-serif;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
   font-family: 'Roboto Condensed', sans-serif;
  }

  h1 {
   font-size: 9rem;
  }

  h2 {
   font-size: 5rem;
  }

  h3 {
   font-size: 3rem;
  }

  p {
   font-size: 1.2rem;
   line-height: 1.7rem;
  }
 }
}

.page {
 margin: 0;
}

.header {
 position: relative;
 margin: 1rem;
}

.main {
 margin: 0;
 margin-top: 2rem;
}
