@import url('https://fonts.googleapis.com/css?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

body * {
 // font-family: 'Open Sans';
 font-family: 'Dosis', sans-serif;
 // font-family: 'Roboto Condensed', sans-serif;
 // font-family: 'Roboto', sans-serif;
}

.page {
}

.header {
 padding: 3rem;
}

.main {
 padding: 0 3rem;
}

.aside {
}
