.details {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.figure {
  margin: 0;
  padding: 0;
  width: 49%;
}

.image {
  max-width: 100%;
}

.description {
  width: 50%;
  padding-left: 1rem;
}

.title {
  color: white;
  margin: 0 0 10px 0;
  padding: 0.75rem 1.25rem;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #222;
  border: 1px solid #282828;
  color: white;
}

.list li span {
  color: #afafaf;
}