@import '../../styles/variables.scss';

.header {
 display: flex;
 overflow: hidden;
 align-items: center;
 justify-content: space-between;
 margin: 0;
 padding: 35px 0;
 height: 60px;
}

.search,
.nav {
 z-index: 3;
 height: 60px;
 border-left: 1px solid $white;
}

.search {
 border-right: 1px solid $white;
}

.logo {
 position: relative;
 z-index: 2;
 display: block;
 max-width: 200px;


 &:before,
 &:after {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 40%;
  width: 100vw;
  height: 60px;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  content: '';
  transform: translateY(-50%);
 }
 &:before {
  left: 230px;
 }
 &:after {
  right: 230px;
 }

 & .image {
  max-width: 200px;
 }
}

.searchResults {
 position: absolute;
 top: calc(100% - 34px);
 right: 0;
 width: 100px;
 height: 100px;
 background-color: #ccc;
}
