@import '../../styles/variables.scss';

$padding: 15px;

.jumbotron {
 & .item {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: $padding;
  width: 33.3%;
 }

 & .image {
  max-width: 100%;
 }

 & .caption {
  position: absolute;
  bottom: $padding * 2;
  left: 10px;
  padding: 5px 20px;
  background-color: white;
  font-size: 1.4rem;
 }

 & .link {
  color: black;
  text-decoration: none;
 }

 & .title {
  margin: 0;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: -.2rem;
  font-weight: 900;
  font-size: 9rem;
  line-height: 8rem;

  & .highlight {
   color: transparent;
   font-family: inherit;

   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: .2rem white;
  }
 }

 & .content {
  margin-top: -100px;
 }

 & .text {
  width: 60%;
  color: white;
  font-size: 1.2rem;
  line-height: 2rem;
 }
}
