@import '../../styles/variables.scss';

$padding: 15px;

.jumbotron {
 & .container {
  position: relative;
 }
 & .title {
  margin: 0;
  color: #fff;
  text-align: right;
  text-transform: uppercase;

  & .highlight {
   color: transparent;
   font-family: inherit;

   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: .2rem white;
  }
 }

 & .content {
  position: absolute;
  top: 10rem;
  width: 70%;
 }

 & .text {
  color: white;
  font-size: 1.3rem;
  line-height: 2rem;
 }
}
