@import '../../styles/variables.scss';

$inputOpenWidth: 250px;

.search {
 display: flex;
 overflow: hidden;

 &:hover {
  & .input {
   padding: 0 1rem;
   width: $inputOpenWidth;
   opacity: 1;
  }
 }
}

.icon {
 position: relative;
 width: 60px;
 height: 60px;
 text-indent: -9999px;
 white-space: nowrap;
 cursor: pointer;
 transition: background-color .3s ease;

 &:hover {
  background-color: rgba(255, 255, 255, .2);
 }

 &:before,
 &:after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  transform: translate(-50%, -50%);
 }

 &:before {
  width: 10px;
  height: 10px;
  border: 3px solid $white;
  border-radius: 10px;
 }

 &:after {
  margin-top: 5px;
  margin-left: 6px;
  width: 3px;
  height: 7px;
  background-color: $white;
  transform: rotate(-45deg);
 }
}

.input {
 display: block;
 box-sizing: border-box;
 padding: 0;
 width: 0;
 outline: transparent;
 border: none;
 border-left: 1px solid $white;
 background-color: transparent;
 color: white;
 opacity: 0;
 transition-delay: .5s;
 transition-timing-function: ease;
 transition-duration: .8s;
 transition-property: opacity, width, padding;

 &.show {
  padding: 0 1rem;
  width: $inputOpenWidth;
  opacity: 1;
 }

 &::placeholder {
  color: white;
  font-size: 16px;
 }
}
