@import '../../../styles/variables.scss';

.homepage {
 $padding: 15px;

 & .container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
 }

 & .left,
 & .right {
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-right: 200px;
  width: 990px;
  transition: opacity .8s;
 }

 & .right {
  position: relative;
  top: 15px;
  z-index: 2;
  margin: 0 auto;
  width: 100%;
 }


 // ----------------------------------- //
 & .toggle {
  position: absolute;
  top: -60px;
  left: calc(100% - 61px);
  display: flex;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: 0 0 0;

  & .text {
   color: $white;
   text-transform: uppercase;
   font-weight: normal;
   font-size: 3.1rem;
   font-family: 'Roboto Condensed', sans-serif;
   line-height: 62px;
  }

  & .arrow {
   position: relative;
   display: inline-block;
   box-sizing: border-box;
   margin-left: 15px;
   width: 60px;
   height: 60px;
   border: 1px solid transparent;
   transition: all .3s ease;

   &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    background-image: url('./img/play-button.svg');
    background-repeat: no-repeat;
    content: '';
    transition: transform .3s ease;
    transform: translate(-50%, -50%) rotate(-90deg);
   }

   &.arrowActive {
    border: 1px solid $white;
    &:before {
     transform: translate(-50%, -50%) rotate(90deg);
    }
   }
  }
 }
}
