@import '../../../styles/variables.scss';

.homepage {
 $padding: 15px;

 & .container {
  position: relative;
  display: flex;
  width: 200%;

  &.showCategories {
   & .jumbotron {
    opacity: 0;
   }

   & .categories {
    transform: translateX(-100%);
   }
  }
 }

 & .jumbotron {
  position: relative;
  margin-right: 6%;
  width: 88%;
  transition: opacity .8s;
 }

 & .categories {
  position: relative;
  width: 100%;
  transition: transform .8s;
 }

 & .item {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: $padding;
  width: 33.3%;
 }

 & .image {
  max-width: 100%;
 }

 & .caption {
  position: absolute;
  bottom: $padding * 2;
  left: 10px;
  padding: 5px 20px;
  background-color: white;
  font-size: 1.4rem;
 }

 & .link {
  color: black;
  text-decoration: none;
 }

 & .title {
  & {
   margin: 0;
   color: #fff;
   text-align: right;
   text-transform: uppercase;
   letter-spacing: -.2rem;
   font-weight: 900;
   font-size: 9rem;
   line-height: 8rem;
  }
  & .highlight {
   color: transparent;

   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: .2rem white;
  }
 }

 & .content {
  position: absolute;
  top: 180px;
  left: 10px;
 }

 & .text {
  width: 60%;
  color: white;
  font-size: 1.2rem;
  font-family: 'Open sans';
  line-height: 2rem;
 }

 & .subtitle {
  position: absolute;
  top: 0;
  left: -61px;
  margin: 0;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: normal;
  font-size: 2.5rem;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: 0 0 0;

  &:before {
   position: absolute;
   top: 50%;
   left: -40px;
   margin-top: -15px;
   width: 0;
   height: 0;
   border-top: 12px solid transparent;
   border-right: 15px solid $white;
   border-bottom: 12px solid transparent;
   content: '';
   transform: rotate(90deg);
  }
 }

 & .link {
  color: $white;
 }
}
