@import '../../styles/variables.scss';

.list {
 padding: 10px 0 0 10px;

 $textPadding: 15px;
 $itemPadding: 20px;

 & .item {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-right: $itemPadding;
  margin-bottom: $itemPadding;
  padding: 0;
  max-width: calc(20% - #{$itemPadding});
  border: 1px solid #282828;
  transition: background-color ease .2s;

  &:hover {
   background-color: #2a9fd6;
   cursor: pointer;
  }
 }
 & img {
  display: block;
  max-width: 100%;
 }

 & h4 {
  bottom: $textPadding;
  overflow: hidden;
  margin: 0;
  padding: 10px 20px;
  background-color: black;
  color: $primary;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .8rem;
 }
}
