.list {
  padding: 10px 0 0 10px;
}

.item {
  padding: 0;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: calc(20% - 10px);
  border: 1px solid #282828;
  box-sizing: border-box;
  transition: background-color ease .2s;
}

.item:hover {
  cursor: pointer;
  background-color: #2A9FD6;
}

.item > img {
  max-width: 100%;
}

.item > h4 {
  margin: 0;
  padding: 1rem;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}