.item-list {
  padding: 10px 0 0 10px;
}

.item-list .card {
  padding: 0;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: calc(25% - 10px);
}

.item-list .card-title {
  margin-bottom: 0;
}

.item-list .card:hover {
  cursor: pointer;
  background-color: #2A9FD6;
  color: white;
}